{% load static %}


<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

  <!--- basic page needs
    ================================================== -->
  <meta charset="utf-8">

  <meta name="description" content="">
  <meta name="author" content="">

  <!-- mobile specific metas
    ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="{%  static 'css/vendor.css' %}">
  <link rel="stylesheet" href="{%  static 'css/styles.css' %}">

  <!-- <link rel="stylesheet" href="css/styles.css"> -->

  <!-- script
    ================================================== -->
  <script defer src="{%  static 'js/fontawesome/all.min.js'  %}"></script>

  <!-- favicons
    ================================================== -->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <!-- <link rel="manifest" href="site.webmanifest"> -->


  <title>Calvin</title>
</head>

<body id="top">








  <!-- content
    ================================================== -->
  <section class="s-content">


    <!-- page header
        ================================================== -->
    <div class="s-pageheader">
      <div class="row">
        <div class="column large-12">
          <h1 class="page-title">
            <span class="page-title__small-type">All Posts</span>
            Welcome
          </h1>
        </div>
      </div>
    </div> <!-- end s-pageheader-->


    <!-- masonry
        ================================================== -->
    <div class="s-bricks s-bricks--half-top-padding">

      <div class="masonry">
        <div class="bricks-wrapper h-group" style="display: grid;grid-template-columns: 1fr 1fr 1fr;">



          {% for post in posts %}

          <article class="brick entry" style="width: 100%;">

            <div class="entry__thumb">
              <a href="{% url 'postdetail' post.pk %}" class="thumb-link">
                <img style="width: 300px;height: 300px;object-fit: cover;" src="{{post.image}}" alt="">
              </a>
            </div> <!-- end entry__thumb -->

            <div class="entry__text">
              <div class="entry__header">
                <h1 class="entry__title"><a href="{% url 'postdetail' post.pk %}">
                    {{post.title}}
                  </a></h1>

                <div class="entry__meta">
                  <span class="byline">By:
                    <span class='author'>
                      <a href="{% url 'PublicUser' post.author %}">{{post.author}} </a> </span>
                  </span> <span class="cat-links">
                    <a href="#">{{post.category}}</a>
                  </span>
                </div>
              </div>
              <div class="entry__excerpt">
                <p>
                  {{post.description | safe}} </p>
              </div>
              <a class="entry__more-link" href="{% url 'postdetail' post.pk %}">Learn More</a>
            </div> <!-- end entry__text -->

          </article> <!-- end article -->

          {% endfor %}
        </div> <!-- end brick-wrapper -->

      </div> <!-- end masonry -->

      <div class="row">
        <div class="column large-12">
          <nav class="pgn">
            <ul>
              <li>
                <span class="pgn__prev" href="#0">
                  Prev
                </span>
              </li>
              <li><a class="pgn__num" href="#0">1</a></li>
              <li><span class="pgn__num current">2</span></li>
              <li><a class="pgn__num" href="#0">3</a></li>
              <li><a class="pgn__num" href="#0">4</a></li>
              <li><a class="pgn__num" href="#0">5</a></li>
              <li><span class="pgn__num dots">…</span></li>
              <li><a class="pgn__num" href="#0">8</a></li>
              <li>
                <span class="pgn__next" href="#0">
                  Next
                </span>
              </li>
            </ul>
          </nav> <!-- end pgn -->
        </div> <!-- end column -->
      </div> <!-- end row -->

    </div> <!-- end s-bricks -->

  </section> <!-- end s-content -->


  <!-- footer
    ================================================== -->
  <footer class="s-footer">

    <div class="s-footer__main">

      <div class="row">

        <div class="column large-3 medium-6 tab-12 s-footer__info">

          <h5>About Our Site</h5>

          <p>
            Lorem ipsum Ut velit dolor Ut labore id fugiat in ut
            fugiat nostrud qui in dolore commodo eu magna Duis
            cillum dolor officia esse mollit proident Excepteur
            exercitation nulla. Lorem ipsum In reprehenderit
            commodo aliqua irure.
          </p>

        </div> <!-- end s-footer__info -->

        <div class="column large-2 medium-3 tab-6 s-footer__site-links">

          <h5>Site Links</h5>

          <ul>
            <li><a href="#0">About Us</a></li>
            <li><a href="#0">Blog</a></li>
            <li><a href="#0">FAQ</a></li>
            <li><a href="#0">Terms</a></li>
            <li><a href="#0">Privacy Policy</a></li>
          </ul>

        </div> <!-- end s-footer__site-links -->

        <div class="column large-2 medium-3 tab-6 s-footer__social-links">

          <h5>Follow Us</h5>

          <ul>
            <li><a href="#0">Twitter</a></li>
            <li><a href="#0">Facebook</a></li>
            <li><a href="#0">Dribbble</a></li>
            <li><a href="#0">Pinterest</a></li>
            <li><a href="#0">Instagram</a></li>
          </ul>

        </div> <!-- end s-footer__social links -->

        <div class="column large-3 medium-6 tab-12 s-footer__subscribe">

          <h5>Sign Up for Newsletter</h5>

          <p>Signup to get updates on articles, interviews and events.</p>

          <div class="subscribe-form">

            <form id="mc-form" class="group" novalidate="true">

              <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Your Email Address"
                required="">

              <input type="submit" name="subscribe" value="subscribe">

              <label for="mc-email" class="subscribe-message"></label>

            </form>

          </div>

        </div> <!-- end s-footer__subscribe -->

      </div> <!-- end row -->

    </div> <!-- end s-footer__main -->

    <div class="s-footer__bottom">
      <div class="row">
        <div class="column">
          <div class="ss-copyright">
            <span>© Copyright Calvin 2020</span>
            <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
          </div> <!-- end ss-copyright -->
        </div>
      </div>

      <div class="ss-go-top">
        <a class="smoothscroll" title="Back to Top" href="#top">
          <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
            <path
              d="M7.5 1.5l.354-.354L7.5.793l-.354.353.354.354zm-.354.354l4 4 .708-.708-4-4-.708.708zm0-.708l-4 4 .708.708 4-4-.708-.708zM7 1.5V14h1V1.5H7z"
              fill="currentColor"></path>
          </svg>
        </a>
      </div> <!-- end ss-go-top -->
    </div> <!-- end s-footer__bottom -->

  </footer> <!-- end s-footer -->


  <!-- Java Script
    ================================================== -->

  <link rel="stylesheet" href="{%  static 'js/jquery-3.5.0.min.js' %}">
  <link rel="stylesheet" href="{%  static 'js/plugins.js' %}">
  <link rel="stylesheet" href="{%  static 'js/main.js' %}">



</body>

</html>





<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOGGING</title> -->

<!-- link css -->
<!-- <link rel="stylesheet" href="{%  static 'main.css' %}">
</head>

<body>

  {% include 'header.html' %}


  <div class="allPost">
    {% for post in posts %}
    <div class="post">
      <img src="{{post.image}}" />
      <p>
        <strong>Category : </strong>
        {{post.category}}

      </p>
      <div class="detail">
        <div class="left">
          <a href="{% url 'postdetail' post.pk %}">
            <h3>{{post.title}}</h3>
          </a>
          <p>By : <a href="{% url 'PublicUser' post.author %}"> {{post.author}} </a></p>
        </div>
        <div class="right">
          <p>{{post.date}}</p>
        </div>
      </div>

    </div>

    {% endfor %}
  </div>

</body>

</html> -->